cmake-build-*
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.exe

# Compiled Static libraries
*.lai
*.la
*.a
build

# backup files:
*~

# ardour session files and backups
*.bak
*.history
*.ardour
*.peak
instant.xml
temp.*

# local sound files:
birds_oldenburg.wav

# generated PDF files:
tutorial*.pdf
# updated session files:
*.updated

# unit tests and coverage tests:
coverage
coverage.info
*.gcda
*.gcno
googletest

# mac specific
.DS_Store
.vscode

# cmake
CMakeFiles

# session file validation:
*.validated
