*.amb
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.log
*.lol
*.out
*.synctex.gz
*.tex_sik
*.toc
*~
acousticmodel.pdf
bg
callgraph.pdf
creator.pdf
duda.pdf
filestructure.pdf
hoertechlogo.pdf
manual-diff_master.pdf
manual.pdf
manual_master.tex
manualdopiski.pdf
secactmodules.tex
secapmodules.tex
secmodules.tex
secrecgeneric.tex
secrecreverb.tex
secrecspeaker.tex
secmaskmodules.tex
version.tex
*.run*
/tab*.tex
autodoc.txt
cli_*.tex
clihelp.tex
oscdoc_undocumented.tex
