*.aux
*.idx
*.ilg
*.ind
*.log
*.out
*.toc
*.lol
manual.pdf
hoertechlogo.pdf
filestructure.pdf
*~
*.bbl
*.blg
*.brf
creator.pdf
callgraph.pdf
manualdopiski.pdf
manual-diff_master.pdf
*.tex_sik
bg
*.synctex.gz
*.amb
duda.pdf
manual_master.tex
secactmodules.tex
secmodules.tex
secapmodules.tex
secrecspeaker.tex
secrecgeneric.tex
